[package]
name = "blobtk"
version = "0.1.2"
edition = "2021"

[lib]
name = "blobtk"
path = "src/lib.rs"
crate-type = ["cdylib", "lib"]

[profile.release]
strip = true
lto = true
codegen-units = 1
panic = "abort"

[dependencies]
atty = "0.2.14"
clap = { version = "4.0.29", features = [ "derive" ]}
flate2 = "1.0.25"
indexmap = "1.9.2"
indicatif = "0.17.2"
needletail = "0.4.1"
pyo3 = { version = "0.17.3", features = ["extension-module"] }
regex = "1.7.0"
rust-htslib = "0.40.2"
